## For Loop

In [103]:
studentExamPoint=[45,54,87,85,32,12]

In [104]:
newExamPoints=[]
for newExamPoint in studentExamPoint:
    newExamPoint=newExamPoint+5
    newExamPoints.append(newExamPoint)

In [105]:
newExamPoints

[50, 59, 92, 90, 37, 17]

In [106]:
numbers=[45,78,32,35,91]
oddNumbers=[]
evenNumbers=[]

In [107]:
for number in numbers:
    if number%2==0:
        evenNumbers.append(number)
    elif number%2!=0:
        oddNumbers.append(number)
        
print(f"Odd List: {oddNumbers}")
print(f"Even List: {evenNumbers}")

Odd List: [45, 35, 91]
Even List: [78, 32]

In [108]:
myTuple=(("Ayşe",45),("Elif",23),("Sude",21))

In [109]:
for (name,age) in myTuple:
    print(age)

45
23
21

In [110]:
myDictionaries={"İrem":21,"Elif":23,"Berfin":12}

In [111]:
for (name,age) in myDictionaries.items():
    print(age)

21
23
12

##  Continue-Break-Pass

In [112]:
classStudent=["Ali","Ayşe","Fatma","Nergis","Bulut","Berk"]
firstClass=[]
secondClass=[]

In [113]:
x=0

for student in classStudent:
   
    if student=="Nergis":
        break  
        x=x+1    
    firstClass.append(student)


for i in range(3,6):
    secondClass.append(classStudent[i])
    
print(f"First Class: {firstClass}")
print(f"Second Class: {secondClass}")

First Class: ['Ali', 'Ayşe', 'Fatma']
Second Class: ['Nergis', 'Bulut', 'Berk']

In [114]:
classStudent

['Ali', 'Ayşe', 'Fatma', 'Nergis', 'Bulut', 'Berk']

In [118]:
for myStudent in classStudent:
    if myStudent=="Bulut":
        continue
    print(myStudent)

Ali
Ayşe
Fatma
Nergis
Berk

In [122]:
for i in classStudent:
    pass

###  While Loop

In [5]:
a=0
y=0
while y<=10:
    a=a+y
    y+=1

print(a)

55

In [3]:
list=[24,78,45,47]

In [4]:
while 45 in list:
    print("45 is here")
    list.pop()

45 is here
45 is here

### Enumerate

In [9]:
list2=["Ali","Ayşe","Fatma","İrem"]
for member in enumerate(list2):
    print(member)

(0, 'Ali')
(1, 'Ayşe')
(2, 'Fatma')
(3, 'İrem')

In [16]:

for number in enumerate(range(0,15)):
    print(number)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)
(10, 10)
(11, 11)
(12, 12)
(13, 13)
(14, 14)

### Random

In [17]:
from random import randint

In [20]:
myChoose=randint(0,101)
print(f"Resault: {myChoose}")

Resault: 23

In [22]:

list2=[1,1,2,5,7]

In [25]:
from random import shuffle
shuffle(list2)