In [1]:
import pandas as pd

In [27]:
maasSozluk={
    "Isim":["Ali","Ahmet","Mehmet"],
    "Departman":["Yazılım","Yazılım","Pazarlama"],
    "Maas":[20000,25000,15000]
    
}

In [28]:
maasSozlukDF=pd.DataFrame(maasSozluk)

In [29]:
maasSozlukDF

     Isim  Departman   Maas
0     Ali    Yazılım  20000
1   Ahmet    Yazılım  25000
2  Mehmet  Pazarlama  15000

In [30]:
maasSozlukDF["Departman"].unique()

array(['Yazılım', 'Pazarlama'], dtype=object)

In [31]:
maasSozlukDF["Isim"].unique()

array(['Ali', 'Ahmet', 'Mehmet'], dtype=object)

In [32]:
maasSozlukDF["Departman"].nunique()

2

In [33]:
maasSozlukDF.value_counts()

Isim    Departman  Maas
Ahmet   Yazılım    25000    1
Ali     Yazılım    20000    1
Mehmet  Pazarlama  15000    1
dtype: int64

In [34]:
## Not:DataFrameler fonksiyonları kolayca uygulayabilir.apply() fonksiyonu

In [35]:
def bruttenNete(maas):
    return maas*0.2

maasSozlukDF["Maas"].apply(bruttenNete)

0    4000.0
1    5000.0
2    3000.0
Name: Maas, dtype: float64

In [39]:
maasSozlukDF.isnull()

    Isim  Departman   Maas
0  False      False  False
1  False      False  False
2  False      False  False

##