In [1]:
import pandas as pd

In [2]:
dataFrame=pd.read_excel("Kitap1.xlsx")

In [3]:
dataFrame

  Unnamed: 0 Unnamed: 1 Unnamed: 2    Unnamed: 3
0        NaN        NaN        NaN           NaN
1         Ad      Soyad        Yas        Meslek
2       İrem      Demir         21       Öğrenci
3       Eren       Kaya         23       Öğrenci
4     Zeynep     Yılmaz         25  Yazılım Müh.
5       Kaya      Demir         36     Developer

In [6]:
doluDataFrame=dataFrame.dropna()

In [9]:
doluDataFrame.to_excel("Kitap2.xlsx")